# 是否开启URL Rewrite.
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
# 非法链接
RewriteRule ^/?([a-zA-Z0-9]+)$                                index.php?app=home&mod=Public&act=error404 [L]