/*common*/
.reg_info {color: #2f3032;}
.reg_wrong {color: #5E0A0A;padding-left: 30px;background: url(../images/vili-error.png) center left no-repeat;}
.reg_ok {padding-left: 30px;background: url(../images/vili-valid.png) center left no-repeat;}

/*ui.tabs*/
.ui-tabs-hide { display: none; }
.loading {text-align: center;padding: 30px;z-index: 999;}
/*width*/
.w30 {width: 30px;}
.w100 {width: 100px!important;}
.w200 {width: 200px!important;}
.w280 {width: 280px!important;}
/*color*/
.red {color: red;}
/*margin*/
.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.ml10 {margin-left: 10px;}
/*verify*/
.verify {
	float: left;
	width: auto;
	display: inline-block;
}
.verify span {
	float: left;
	width: 24px;
	height: 22px!important;
	padding: 6px 5px;
	border-radius: 3px;
	margin: 0 5px;
	display: block;
	background: #fa6f15;
}
.verify span.a1 {
	background: #2f3032;
}